# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cocos2d/
proj.win32/Debug.win32/
proj.win32/Cocos2.sdf
proj.win32/Cocos2.sln
proj.win32/Cocos2d.vs12.suo
proj.win32/Cocos2.vcxproj
proj.win32/Cocos2.vcxproj.filters
proj.win32/Cocos2.vcxproj.user
